Repository Comfy-Org/ComfyUI_frontend, pull requests merged in 2025-04, with the labels that each got.

#3294 Show object widget values as string on missing nodes
  browser_tests/assets/missing_nodes_converted_widget.json
  browser_tests/tests/nodeDisplay.spec.ts-snapshots/missing-nodes-converted-widget-chromium-linux.png
  src/scripts/errorNodeWidgets.ts
Labels: New Browser Test Expectations

#3301 [Performance] Avoid per-frame workflow persistence
  src/composables/useWorkflowPersistence.ts
Labels: Performance

#3302 [Performance] Avoid layout thrashing
  src/components/graph/widgets/DomWidget.vue
  src/composables/element/useCanvasPositionConversion.ts
  src/scripts/app.ts
Labels: Performance

#3326 Support associated socket for widgets
  browser_tests/fixtures/utils/litegraphUtils.ts
  browser_tests/tests/interaction.spec.ts-snapshots/dragged-node1-chromium-linux.png
  browser_tests/tests/nodeDisplay.spec.ts-snapshots/force-input-chromium-linux.png
  browser_tests/tests/nodeDisplay.spec.ts-snapshots/missing-nodes-converted-widget-chromium-linux.png
  browser_tests/tests/primitiveNode.spec.ts-snapshots/primitive-node-chromium-linux.png
  browser_tests/tests/primitiveNode.spec.ts-snapshots/primitive-node-connected-chromium-linux.png
  browser_tests/tests/primitiveNode.spec.ts-snapshots/primitive-node-connected-dom-widget-chromium-linux.png
  browser_tests/tests/primitiveNode.spec.ts-snapshots/static-primitive-connected-chromium-linux.png
  browser_tests/tests/rightClickMenu.spec.ts
  browser_tests/tests/rightClickMenu.spec.ts-snapshots/right-click-node-chromium-linux.png
  browser_tests/tests/rightClickMenu.spec.ts-snapshots/right-click-node-widget-converted-chromium-linux.png
  browser_tests/tests/rightClickMenu.spec.ts-snapshots/right-click-pinned-node-chromium-linux.png
  browser_tests/tests/rightClickMenu.spec.ts-snapshots/right-click-unpinned-node-chromium-linux.png
  browser_tests/tests/widget.spec.ts-snapshots/boolean-widget-toggled-chromium-linux.png
  browser_tests/tests/widget.spec.ts-snapshots/seed-widget-dragged-chromium-linux.png
  browser_tests/tests/widget.spec.ts-snapshots/slider-widget-dragged-chromium-linux.png
  package-lock.json
  package.json
  src/components/graph/widgets/DomWidget.vue
  src/extensions/core/widgetInputs.ts
  src/locales/en/main.json
  src/locales/en/settings.json
  src/locales/es/main.json
  src/locales/es/settings.json
  src/locales/fr/main.json
  src/locales/fr/settings.json
  src/locales/ja/main.json
  src/locales/ja/settings.json
  src/locales/ko/main.json
  src/locales/ko/settings.json
  src/locales/ru/main.json
  src/locales/ru/settings.json
  src/locales/zh/main.json
  src/locales/zh/settings.json
  src/schemas/apiSchema.ts
  src/scripts/app.ts
  src/scripts/domWidget.ts
  src/services/litegraphService.ts
  src/stores/widgetStore.ts
  src/types/litegraph-augmentation.d.ts
  src/utils/executionUtil.ts
Labels: New Browser Test Expectations

#3337 Migrate forceInput widgets_values
  browser_tests/tests/nodeDisplay.spec.ts-snapshots/force-input-chromium-linux.png
  src/locales/en/settings.json
  src/locales/es/settings.json
  src/locales/fr/settings.json
  src/locales/ja/settings.json
  src/locales/ko/settings.json
  src/locales/ru/settings.json
  src/locales/zh/settings.json
  src/services/litegraphService.ts
  src/utils/litegraphUtil.ts
  tests-ui/tests/utils/litegraphUtil.test.ts
Labels: New Browser Test Expectations

#3344 [Test] Add test on dynamically added inputs
  browser_tests/assets/dynamically_added_input.json
  browser_tests/tests/nodeDisplay.spec.ts
  browser_tests/tests/nodeDisplay.spec.ts-snapshots/dynamically-added-input-chromium-linux.png
Labels: New Browser Test Expectations

#3349 [Bug] Fix input link slots
  browser_tests/assets/input_order_swap.json
  browser_tests/tests/graph.spec.ts
  browser_tests/tests/primitiveNode.spec.ts-snapshots/primitive-node-chromium-linux.png
  src/scripts/app.ts
  src/utils/litegraphUtil.ts
Labels: New Browser Test Expectations

#3364 Migrate defaultInput widget option
  browser_tests/assets/default_input.json
  browser_tests/tests/nodeDisplay.spec.ts
  browser_tests/tests/nodeDisplay.spec.ts-snapshots/default-input-chromium-linux.png
  src/stores/nodeDefStore.ts
  src/types/litegraph-augmentation.d.ts
Labels: New Browser Test Expectations

#3385 Disable reroute migration (2/2)
  src/services/workflowService.ts
Labels: needs-backport

#3475 [Test] Add LGraphBadge light theme browser test
  browser_tests/tests/nodeBadge.spec.ts
  browser_tests/tests/nodeBadge.spec.ts-snapshots/node-badge-light-color-palette-chromium-linux.png
Labels: New Browser Test Expectations

#3479 Support previewing animated image uploads
  .github/workflows/test-ui.yaml
  browser_tests/assets/animated_webp.webp
  browser_tests/assets/widgets/load_animated_webp.json
  browser_tests/assets/widgets/save_animated_webp.json
  browser_tests/tests/widget.spec.ts
  browser_tests/tests/widget.spec.ts-snapshots/animated-image-preview-drag-and-dropped-chromium-linux.png
  browser_tests/tests/widget.spec.ts-snapshots/animated-image-preview-drag-and-dropped-next-frame-chromium-linux.png
  browser_tests/tests/widget.spec.ts-snapshots/animated-image-preview-saved-webp-chromium-linux.png
  src/composables/node/useNodeAnimatedImage.ts
  src/composables/node/useNodeImage.ts
  src/composables/widgets/useImageUploadWidget.ts
  src/extensions/core/uploadImage.ts
  src/schemas/nodeDefSchema.ts
  src/scripts/ui/imagePreview.ts
  src/stores/imagePreviewStore.ts
  src/utils/imageUtil.ts
Labels: New Browser Test Expectations

#3487 1.16.8
  package-lock.json
  package.json
Labels: Release

#3506 1.16.9
  package-lock.json
  package.json
Labels: Release

#3519 Fix drag and drop image with embedded workflow on Firefox
  browser_tests/fixtures/ComfyPage.ts
  browser_tests/tests/loadWorkflowInMedia.spec.ts
  browser_tests/tests/loadWorkflowInMedia.spec.ts-snapshots/dropped-workflow-url-hidream-dev-example-png-chromium-linux.png
  src/scripts/app.ts
Labels: New Browser Test Expectations, needs-backport

#3546 Update node search to use litegraph LinkConnector
  browser_tests/tests/nodeSearchBox.spec.ts-snapshots/added-node-no-connection-chromium-linux.png
  browser_tests/tests/nodeSearchBox.spec.ts-snapshots/link-release-context-menu-chromium-linux.png
  src/components/searchbox/NodeSearchBoxPopover.vue
  src/stores/graphStore.ts
  src/types/litegraphTypes.ts
Labels: New Browser Test Expectations

#3565 [Bug] Fix DOM widgets position when canvas bounding box change
  browser_tests/tests/domWidget.spec.ts
  browser_tests/tests/domWidget.spec.ts-snapshots/focus-mode-on-chromium-linux.png
  src/components/graph/DomWidgets.vue
  src/components/graph/GraphCanvas.vue
  src/components/graph/TitleEditor.vue
  src/components/graph/widgets/DomWidget.vue
  src/composables/element/useAbsolutePosition.ts
Labels: New Browser Test Expectations

#3606 Update README with Recommended Code Editor Configuration
  README.md
Labels: documentation

#3611 Reland "Add unified sidebar width setting"
  browser_tests/tests/rerouteNode.spec.ts-snapshots/reroute-inserted-chromium-linux.png
  src/components/LiteGraphCanvasSplitterOverlay.vue
  src/constants/coreSettings.ts
  src/locales/en/settings.json
  src/locales/es/settings.json
  src/locales/fr/settings.json
  src/locales/ja/settings.json
  src/locales/ko/settings.json
  src/locales/ru/settings.json
  src/locales/zh/settings.json
  src/schemas/apiSchema.ts
Labels: New Browser Test Expectations

#3617 [nit] Use TorchMirrorUrl
  src/components/install/MirrorsConfiguration.vue
Labels: Electron

#3543 Load workflows from mp4/mov files
  browser_tests/assets/workflow.m4v
  browser_tests/assets/workflow.mov
  browser_tests/assets/workflow.mp4
  browser_tests/tests/loadWorkflowInMedia.spec.ts
  browser_tests/tests/loadWorkflowInMedia.spec.ts-snapshots/workflow-m4v-chromium-linux.png
  browser_tests/tests/loadWorkflowInMedia.spec.ts-snapshots/workflow-mov-chromium-linux.png
  browser_tests/tests/loadWorkflowInMedia.spec.ts-snapshots/workflow-mp4-chromium-linux.png
  src/scripts/app.ts
  src/scripts/metadata/isobmff.ts
  src/types/metadataTypes.ts
Labels: New Browser Test Expectations
