Repository Comfy-Org/ComfyUI_frontend, pull requests merged in 2025-07, with the labels that each got.

#4261 Fix helper menu issues and align with the design.
  src/assets/css/style.css
  src/components/sidebar/tabs/nodeLibrary/NodeHelpPage.vue
Labels: Design

#4396 Update template translation
  browser_tests/tests/templates.spec.ts-snapshots/template-card-after-hover-chromium-linux.png
  browser_tests/tests/templates.spec.ts-snapshots/template-card-before-hover-chromium-linux.png
  browser_tests/tests/templates.spec.ts-snapshots/template-grid-desktop-chromium-linux.png
  browser_tests/tests/templates.spec.ts-snapshots/template-grid-mobile-chromium-linux.png
  browser_tests/tests/templates.spec.ts-snapshots/template-grid-tablet-chromium-linux.png
  src/locales/en/main.json
  src/locales/en/settings.json
  src/locales/es/main.json
  src/locales/es/settings.json
  src/locales/fr/main.json
  src/locales/fr/settings.json
  src/locales/ja/main.json
  src/locales/ja/settings.json
  src/locales/ko/main.json
  src/locales/ko/settings.json
  src/locales/ru/main.json
  src/locales/ru/settings.json
  src/locales/zh-TW/main.json
  src/locales/zh-TW/settings.json
  src/locales/zh/main.json
  src/locales/zh/settings.json
Labels: New Browser Test Expectations

#4490 [chore] Update litegraph to 0.16.13
  package-lock.json
  package.json
Labels: dependencies

#4420 Add the ability to parse workflows from AVIF images
  browser_tests/assets/workflow.avif
  browser_tests/tests/loadWorkflowInMedia.spec.ts
  src/constants/supportedWorkflowFormats.ts
  src/scripts/app.ts
  src/scripts/metadata/avif.ts
  src/scripts/pnginfo.ts
  src/types/metadataTypes.ts
Labels: New Browser Test Expectations

#4533 add CanvasNavigationMode
  browser_tests/tests/interaction.spec.ts
  browser_tests/tests/interaction.spec.ts-snapshots/legacy-alt-shift-drag-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/legacy-click-node-select-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/legacy-left-drag-pan-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/legacy-middle-drag-pan-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/legacy-wheel-zoom-in-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/legacy-wheel-zoom-out-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/standard-click-node-select-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/standard-ctrl-wheel-zoom-in-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/standard-ctrl-wheel-zoom-out-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/standard-left-drag-select-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/standard-middle-drag-pan-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/standard-space-drag-pan-chromium-linux.png
  src/composables/useLitegraphSettings.ts
  src/constants/coreSettings.ts
  src/locales/en/settings.json
  src/locales/es/settings.json
  src/locales/fr/settings.json
  src/locales/ja/settings.json
  src/locales/ko/settings.json
  src/locales/ru/settings.json
  src/locales/zh-TW/settings.json
  src/locales/zh/settings.json
  src/schemas/apiSchema.ts
Labels: New Browser Test Expectations

#4540 [test] add test for shift + wheel to pan canvas
  browser_tests/tests/interaction.spec.ts
  browser_tests/tests/interaction.spec.ts-snapshots/standard-initial-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/standard-shift-wheel-pan-center-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/standard-shift-wheel-pan-left-chromium-linux.png
  browser_tests/tests/interaction.spec.ts-snapshots/standard-shift-wheel-pan-right-chromium-linux.png
Labels: New Browser Test Expectations

#4520 minimap
  browser_tests/tests/graphCanvasMenu.spec.ts-snapshots/canvas-with-hidden-links-chromium-linux.png
  browser_tests/tests/graphCanvasMenu.spec.ts-snapshots/canvas-with-visible-links-chromium-linux.png
  browser_tests/tests/interaction.spec.ts
  browser_tests/tests/minimap.spec.ts
  src/components/graph/GraphCanvas.vue
  src/components/graph/GraphCanvasMenu.vue
  src/components/graph/MiniMap.vue
  src/composables/canvas/useCanvasTransformSync.ts
  src/composables/useCoreCommands.ts
  src/composables/useMinimap.ts
  src/constants/coreKeybindings.ts
  src/constants/coreSettings.ts
  src/locales/en/commands.json
  src/locales/en/main.json
  src/locales/es/commands.json
  src/locales/es/main.json
  src/locales/fr/commands.json
  src/locales/fr/main.json
  src/locales/ja/commands.json
  src/locales/ja/main.json
  src/locales/ko/commands.json
  src/locales/ko/main.json
  src/locales/ru/commands.json
  src/locales/ru/main.json
  src/locales/zh-TW/commands.json
  src/locales/zh-TW/main.json
  src/locales/zh/commands.json
  src/locales/zh/main.json
  src/schemas/apiSchema.ts
  tests-ui/tests/composables/canvas/useCanvasTransformSync.test.ts
  tests-ui/tests/composables/useMinimap.test.ts
Labels: New Browser Test Expectations

#4545 Update missing nodes dialog title
  browser_tests/tests/loadWorkflowInMedia.spec.ts-snapshots/workflow-avif-chromium-linux.png
  src/components/dialog/content/LoadWorkflowWarning.vue
Labels: New Browser Test Expectations

#4576 [fix] Update Search & Replace to support nodes in subgraphs
  src/extensions/core/saveImageExtraOutput.ts
  src/extensions/core/widgetInputs.ts
  src/scripts/utils.ts
  src/utils/searchAndReplace.ts
  tests-ui/tests/utils/serachAndReplace.test.ts
Labels: needs-backport

#4596 [feat] Improve SubgraphNode badge with sitemap icon and primary color
  src/services/litegraphService.ts
Labels: needs-backport, area:subgraph

#4597 [fix] Make minimap reactive to subgraph context changes
  src/composables/useMinimap.ts
  tests-ui/tests/composables/useMinimap.test.ts
Labels: area:minimap

#4624 [feat] Move partial execution to the backend and make work with subgraphs
  src/composables/useCoreCommands.ts
  src/scripts/api.ts
  src/scripts/app.ts
  src/utils/executionUtil.ts
  src/utils/graphTraversalUtil.ts
  src/utils/nodeFilterUtil.ts
  tests-ui/tests/utils/graphTraversalUtil.test.ts
  tests-ui/tests/utils/nodeFilterUtil.test.ts
Labels: needs-backport, area:subgraph
