Repository Comfy-Org/ComfyUI_frontend, changes with the owners that CODEOWNERS names for each.
All owners: @viva-jinyi, @christian-byrne, @ltdrdata, @webfiltered, @benceruleanlu, @comfyui-wiki, @Myestery, @arjansingh, @brucew4yn3rp, @trsommer, @jtydhr88, @Yorha4D, @KarryCharon, @DorotaLuna, @shinshin86

Add dragging test
  browser_tests/assets/vueNodes/simple-triple.json
  browser_tests/fixtures/ComfyPage.ts
  browser_tests/tests/vueNodes/NodeHeader.spec.ts
  browser_tests/tests/vueNodes/linkInteraction.spec.ts
Owners: @christian-byrne

feat: data-driven and multi-select
  src/renderer/extensions/vueNodes/widgets/components/form/dropdown/FormDropdown.vue
  src/renderer/extensions/vueNodes/widgets/components/form/dropdown/FormDropdownInput.vue
  src/renderer/extensions/vueNodes/widgets/components/form/dropdown/FormDropdownMenu.vue
  src/renderer/extensions/vueNodes/widgets/components/form/dropdown/FormDropdownMenuItem.vue
  src/renderer/extensions/vueNodes/widgets/components/form/dropdown/FormDropdownRepl.vue
Owners: none

feat: improve dropdown button styling and layout
  src/renderer/extensions/vueNodes/widgets/components/form/dropdown/FormDropdownInput.vue
Owners: none

Litegraph? Never heard if it
  browser_tests/fixtures/ComfyPage.ts
Owners: @christian-byrne

Add more test cases
  browser_tests/tests/vueNodes/linkInteraction.spec.ts
Owners: @christian-byrne

Update test expectations [skip ci]
  browser_tests/tests/vueNodes/linkInteraction.spec.ts-snapshots/vue-node-dragging-link-chromium-linux.png
Owners: @christian-byrne

chore(tsconfig): include *.config.ts files in the TypeScript configuration to ensure proper type checking and linting for configuration files
  tsconfig.json
Owners: none

chore(tsconfig): include all .mts config files in TypeScript configuration
  tsconfig.json
Owners: none

fix(tsconfig): resolve TypeScript errors in vite.electron.config.mts
  tsconfig.json
  vite.electron.config.mts
Owners: @webfiltered

chore(tsconfig): include scripts/ and build/ directories in TypeScript configuration
  tsconfig.json
Owners: none

chore(tsconfig): add separate tsconfig for build folder
  build/tsconfig.json
  tsconfig.json
Owners: none

fix(tsconfig): resolve TypeScript errors in vite.electron.config.mts and scripts
  scripts/collect-i18n-node-defs.ts
  scripts/diff-i18n.ts
  vite.electron.config.mts
Owners: @webfiltered

fix: add @ts-expect-error for window.app access
  scripts/collect-i18n-node-defs.ts
Owners: none

fix(tsconfig): separate tsconfig for test directories to avoid strict mode issues
  scripts/tsconfig.json
  tests-ui/tsconfig.json
  tsconfig.json
Owners: @christian-byrne

chore: cloud waitlist margin added
  src/platform/onboarding/cloud/CloudWaitlistView.vue
Owners: none

chore: kr translation modified
  src/locales/ko/main.json
Owners: @Yorha4D, @KarryCharon, @DorotaLuna, @shinshin86

feat: add email verification check after login
  src/platform/onboarding/cloud/CloudVerifyEmailView.vue
Owners: none

feature: email verified value added
  src/platform/onboarding/cloud/CloudLoginView.vue
  src/stores/firebaseAuthStore.ts
Owners: none

fix: after signup go to login page
  src/platform/onboarding/cloud/CloudSignupView.vue
Owners: none

feature: claim invite
  src/api/auth.ts
  src/onboardingCloudRoutes.ts
  src/platform/onboarding/cloud/CloudInviteEntryView.vue
  src/platform/onboarding/cloud/InviteCheckView.vue
Owners: none

feature: verify email
  src/locales/en/main.json
  src/platform/onboarding/cloud/CloudLoginView.vue
  src/stores/firebaseAuthStore.ts
Owners: @Yorha4D, @KarryCharon, @DorotaLuna, @shinshin86

feature: invite code
  src/locales/en/main.json
  src/platform/onboarding/cloud/CloudClaimInviteView.vue
  src/platform/onboarding/cloud/CloudLoginView.vue
  src/platform/onboarding/cloud/InviteCheckView.vue
  src/platform/onboarding/cloud/UserCheckView.vue
Owners: @Yorha4D, @KarryCharon, @DorotaLuna, @shinshin86

feature: verify email added
  src/platform/onboarding/cloud/CloudVerifyEmailView.vue
Owners: none

fix: verify-email is not public route
  src/router.ts
Owners: none

chore: button style modified
  src/platform/onboarding/cloud/CloudSurveyView.vue
Owners: none

feature: cloud invite code
  src/locales/en/main.json
  src/platform/onboarding/cloud/CloudLoginView.vue
  src/platform/onboarding/cloud/CloudSurveyView.vue
  src/platform/onboarding/cloud/CloudVerifyEmailView.vue
  src/platform/onboarding/cloud/CloudWaitlistView.vue
  src/platform/onboarding/cloud/InviteCheckView.vue
Owners: @Yorha4D, @KarryCharon, @DorotaLuna, @shinshin86

feature: api endpoint modified
  src/api/auth.ts
Owners: none

chore: router query added
  src/platform/onboarding/cloud/CloudClaimInviteView.vue
Owners: none

Add show recommended button, preview work
  src/components/selectionbar/SubgraphNode.vue
  src/scripts/proxyWidget.ts
  src/stores/imagePreviewStore.ts
  src/stores/workflowStore.ts
Owners: none

Repurpose existing graph traversal util
  src/scripts/proxyWidget.ts
Owners: none

[test] move semver imports to top level and use named imports - addresses review feedback
  tests-ui/tests/store/releaseStore.test.ts
Owners: @christian-byrne

[fix] allow assets with nested folder paths
  src/platform/assets/schemas/assetSchema.ts
  tests-ui/platform/assets/composables/useAssetBrowser.test.ts
Owners: @arjansingh, @christian-byrne

[style] use validSemver instead of semver.valid - addresses review feedback
  src/workbench/extensions/manager/components/manager/PackVersionSelectorPopover.vue
Owners: @viva-jinyi, @christian-byrne, @ltdrdata

[refactor] update all remaining semver imports to use named imports - addresses review feedback
  src/components/dialog/content/MissingCoreNodesMessage.vue
  src/composables/nodePack/usePackUpdateStatus.ts
  src/composables/nodePack/useUpdateAvailableNodes.ts
  src/platform/settings/settingStore.ts
  src/platform/updates/common/releaseStore.ts
  src/platform/updates/common/versionCompatibilityStore.ts
  src/utils/versionUtil.ts
  tests-ui/tests/composables/useUpdateAvailableNodes.test.ts
Owners: @christian-byrne

[refactor] do not try to preserve close animation
  src/components/dialog/GlobalDialog.vue
  src/platform/assets/composables/useAssetBrowserDialog.ts
  src/stores/dialogStore.ts
Owners: @arjansingh

Fix vue-i18n mocking in NodeHeader test
  tests-ui/tests/renderer/extensions/vueNodes/components/NodeHeader.subgraph.test.ts
Owners: @christian-byrne

[auto-fix] Apply ESLint and Prettier fixes
  src/platform/assets/composables/useAssetBrowserDialog.ts
  src/stores/dialogStore.ts
Owners: @arjansingh

fix: update node ID handling to use correct type and improve data source import path
  src/renderer/extensions/minimap/composables/useMinimapGraph.ts
  src/renderer/extensions/minimap/composables/useMinimapViewport.ts
  src/renderer/extensions/minimap/types.ts
Owners: none

[refactor] Replace manual semantic version utilities/functions with semver package (#5653)
  src/components/dialog/content/MissingCoreNodesMessage.vue
  src/composables/nodePack/usePackUpdateStatus.ts
  src/composables/nodePack/useUpdateAvailableNodes.ts
  src/platform/settings/settingStore.ts
  src/platform/updates/common/releaseStore.ts
  src/platform/updates/common/versionCompatibilityStore.ts
  src/utils/formatUtil.ts
  src/utils/versionUtil.ts
  src/workbench/extensions/manager/components/manager/PackVersionBadge.vue
  src/workbench/extensions/manager/components/manager/PackVersionSelectorPopover.vue
  tests-ui/tests/composables/useUpdateAvailableNodes.test.ts
  tests-ui/tests/store/releaseStore.test.ts
Owners: @viva-jinyi, @christian-byrne, @ltdrdata

code improve
  src/core/graph/operations/IGraphMutationService.ts
  src/core/graph/operations/graphMutationService.ts
  src/core/graph/operations/types.ts
  tests-ui/tests/services/graphMutationService.test.ts
Owners: @christian-byrne

CODEOWNERS:

# Manager extension
/src/workbench/extensions/manager/          @viva-jinyi @christian-byrne @ltdrdata

# Desktop/Electron
/src/types/desktop/                         @webfiltered
/src/constants/desktopDialogs.ts            @webfiltered
/src/constants/desktopMaintenanceTasks.ts   @webfiltered
/src/stores/electronDownloadStore.ts        @webfiltered
/src/extensions/core/electronAdapter.ts     @webfiltered
/src/views/DesktopDialogView.vue            @webfiltered
/vite.electron.config.mts                   @webfiltered

# Link rendering
/src/renderer/core/canvas/links/            @benceruleanlu

# Node help system
/src/utils/nodeHelpUtil.ts                  @benceruleanlu @comfyui-wiki
/src/stores/workspace/nodeHelpStore.ts      @benceruleanlu @comfyui-wiki
/src/services/nodeHelpService.ts            @benceruleanlu @comfyui-wiki

# Selection toolbox
/src/components/graph/selectionToolbox/     @Myestery

# Assets
/src/platform/assets/                       @arjansingh

# Testing
/browser_tests/                             @christian-byrne
/tests-ui/                                  @christian-byrne

# Workflow Templates
/src/platform/workflow/templates/          @Myestery @christian-byrne @comfyui-wiki
/src/components/templates/                 @Myestery @christian-byrne @comfyui-wiki

# Mask Editor extension
/src/extensions/core/maskeditor.ts          @brucew4yn3rp @trsommer

# Load 3D extension
/src/extensions/core/load3d.ts              @jtydhr88

# Translations
/src/locales/                               @Yorha4D @KarryCharon @DorotaLuna @shinshin86
