Repository Comfy-Org/ComfyUI_frontend, changes with the owners that CODEOWNERS names for each.
All owners: @viva-jinyi, @christian-byrne, @ltdrdata, @webfiltered, @benceruleanlu, @comfyui-wiki, @Myestery, @arjansingh, @brucew4yn3rp, @trsommer, @jtydhr88, @Yorha4D, @KarryCharon, @DorotaLuna, @shinshin86

[fix] fix asset selection race condition
  src/platform/assets/composables/useAssetBrowserDialog.ts
  src/renderer/extensions/vueNodes/widgets/composables/useComboWidget.ts
  src/stores/dialogStore.ts
  tests-ui/platform/assets/composables/useAssetBrowserDialog.test.ts
  tests-ui/tests/store/dialogStore.test.ts
Owners: @arjansingh, @christian-byrne

[refactor] unnecessary setDirty
  src/renderer/extensions/vueNodes/widgets/composables/useComboWidget.ts
Owners: none

More test cases v1
  browser_tests/tests/vueNodes/linkInteraction.spec.ts
  browser_tests/tests/vueNodes/linkInteraction.spec.ts-snapshots/vue-node-dragging-link-chromium-linux.png
  browser_tests/tests/vueNodes/linkInteraction.spec.ts-snapshots/vue-node-input-drag-ctrl-alt-chromium-linux.png
  browser_tests/tests/vueNodes/linkInteraction.spec.ts-snapshots/vue-node-input-drag-reuses-origin-chromium-linux.png
Owners: @christian-byrne

Guard node proxying by widgetName so both function
  src/scripts/proxyWidget.ts
Owners: none

[fix] remove unnecessary changes
  src/stores/dialogStore.ts
  tests-ui/platform/assets/composables/useAssetBrowser.test.ts
Owners: @christian-byrne

review comments
  browser_tests/fixtures/ComfyPage.ts
  browser_tests/helpers/fitToView.ts
  browser_tests/tests/vueNodes/linkInteraction.spec.ts
Owners: @christian-byrne

Fix accidental style breakage
  src/components/selectionbar/SubgraphNodeWidget.vue
Owners: none

fix: prevent splitter overlay from loading in focus mode
  src/components/graph/GraphCanvas.vue
Owners: none

Add playwright tests for links and slots in vue nodes mode (#5668)
  browser_tests/assets/vueNodes/simple-triple.json
  browser_tests/helpers/fitToView.ts
  browser_tests/tests/vueNodes/NodeHeader.spec.ts
  browser_tests/tests/vueNodes/linkInteraction.spec.ts
  browser_tests/tests/vueNodes/linkInteraction.spec.ts-snapshots/vue-node-dragging-link-chromium-linux.png
Owners: @christian-byrne

Layoutstore Minimap calculation (#5547)
  src/renderer/extensions/minimap/composables/useMinimapGraph.ts
  src/renderer/extensions/minimap/composables/useMinimapViewport.ts
  src/renderer/extensions/minimap/data/AbstractMinimapDataSource.ts
  src/renderer/extensions/minimap/data/LayoutStoreDataSource.ts
  src/renderer/extensions/minimap/data/LiteGraphDataSource.ts
  src/renderer/extensions/minimap/data/MinimapDataSourceFactory.ts
  src/renderer/extensions/minimap/minimapCanvasRenderer.ts
  src/renderer/extensions/minimap/types.ts
  tests-ui/tests/minimap/MinimapDataSource.test.ts
Owners: @christian-byrne

feat: Add Vue node subgraph title button and fix subgraph navigation with vue nodes (#5572)
  src/components/graph/GraphCanvas.vue
  src/composables/auth/useCurrentUser.ts
  src/composables/graph/useVueNodeLifecycle.ts
  src/renderer/core/canvas/canvasStore.ts
  src/renderer/extensions/vueNodes/components/LGraphNode.vue
  src/renderer/extensions/vueNodes/components/NodeHeader.vue
  src/utils/graphTraversalUtil.ts
  tests-ui/tests/renderer/extensions/vueNodes/components/NodeHeader.subgraph.test.ts
Owners: @christian-byrne

fix: ensure GraphCanvasMenu and MiniMap are displayed correctly based on conditions
  src/components/graph/GraphCanvas.vue
Owners: none

[feat] Improve template modal UI layout and spacing
  src/components/templates/TemplateSearchBar.vue
  src/components/templates/TemplateWorkflowCard.vue
  src/components/templates/TemplateWorkflowView.vue
Owners: @Myestery, @christian-byrne, @comfyui-wiki

CODEOWNERS:

# Manager extension
/src/workbench/extensions/manager/          @viva-jinyi @christian-byrne @ltdrdata

# Desktop/Electron
/src/types/desktop/                         @webfiltered
/src/constants/desktopDialogs.ts            @webfiltered
/src/constants/desktopMaintenanceTasks.ts   @webfiltered
/src/stores/electronDownloadStore.ts        @webfiltered
/src/extensions/core/electronAdapter.ts     @webfiltered
/src/views/DesktopDialogView.vue            @webfiltered
/vite.electron.config.mts                   @webfiltered

# Link rendering
/src/renderer/core/canvas/links/            @benceruleanlu

# Node help system
/src/utils/nodeHelpUtil.ts                  @benceruleanlu @comfyui-wiki
/src/stores/workspace/nodeHelpStore.ts      @benceruleanlu @comfyui-wiki
/src/services/nodeHelpService.ts            @benceruleanlu @comfyui-wiki

# Selection toolbox
/src/components/graph/selectionToolbox/     @Myestery

# Assets
/src/platform/assets/                       @arjansingh

# Testing
/browser_tests/                             @christian-byrne
/tests-ui/                                  @christian-byrne

# Workflow Templates
/src/platform/workflow/templates/          @Myestery @christian-byrne @comfyui-wiki
/src/components/templates/                 @Myestery @christian-byrne @comfyui-wiki

# Mask Editor extension
/src/extensions/core/maskeditor.ts          @brucew4yn3rp @trsommer

# Load 3D extension
/src/extensions/core/load3d.ts              @jtydhr88

# Translations
/src/locales/                               @Yorha4D @KarryCharon @DorotaLuna @shinshin86
